* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Outfit:wght@400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bellefair&family=Outfit:wght@400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

section {
  position: absolute;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../home/background-home-desktop.jpg);
  background-position: center;
  background-size: cover;
}
nav {
  position: absolute;
  height: 96px;
  left: 55px;
  top: 40px;
}
.logoImg {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 55px;
  top: 64px;
}
.rectangle {
  position: absolute;
  width: 473px;
  height: 1px;
  left: 167px;
  top: 88px;

  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}
#navbarNav {
  position: absolute;
  width: 776px;
  height: 96px;
  left: 610px;
  top: 40px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}
#navbarNav ul {
  padding-left: 45px;
}
li {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  padding: 30px;
  font-family: "Barlow";
}
.text-div {
  position: absolute;
  width: 450px;
  height: 382px;
  left: 165px;
  top: 387px;
}

.text-div h1 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  text-transform: uppercase;
  color: #ffffff;
}
.text-div p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}
.explorer-div {
  position: absolute;
  width: 274px;
  height: 274px;
  left: 1001px;
  top: 495px;
}
.inside-div {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 60%;
  background: #ffffff;
}
.inside-div p {
  position: absolute;
  width: 137px;
  height: 37px;
  left: 19%;
  right: 23.36%;
  top: calc(50% - 37px / 2 + 0.5px);

  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  letter-spacing: 2px;

  color: #0b0d17;
}
.main-txt {
  position: absolute;
  margin-top: 45px;
  width: 445px;
  height: 472px;
  left: 832px;
  top: 310px;
}
.main-txt h1 {
  font-family: "Bellefair";
  font-style: normal;

  font-weight: 400;
  font-size: 100px;
  line-height: 115px;

  text-transform: uppercase;

  color: #ffffff;
}
.main-txt p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: left;

  color: #d0d6f9;
}
.section2 {
  position: absolute;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../destination/background-destination-desktop.jpg);
  background-position: center;
  background-size: cover;
}
.main {
  margin-top: 45px;
  margin-left: 190px;
}
.slider-div {
  width: 900px;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}
.slider-tittle {
  width: 700px;
  height: 472px;
}
.marginleft {
  margin-left: 145px;
}
.slider-tittle h2 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ffffff;
}
.slider-tittle p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  margin: 45px 0 45px 0;
}
.rectangle2 {
  width: 445px;
  border: 1px solid #d0d6f9;
}
.down-text {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;

  color: #ffffff;

  margin: 45px 0 45px 0;
}
.p-style {
  margin-left: 45px;
}
.section3 {
  position: absolute;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../crew/background-crew-desktop.jpg);
  background-position: center;
  background-size: cover;
}
.slider-tittle h3 {
  width: 614px;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;

  color: #ffffff;
}
.slider-titte-h2 {
  width: 444px;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;

  color: #ffffff;
}

.section4 {
  position: absolute;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../technology/background-technology-desktop.jpg);
  background-position: center;
  background-size: cover;
}

.tech-img {
  width: 515px;
  height: 527px;
}

.tech-div {
  display: flex;
  justify-content: end;
  align-items: end;
}
#crewPageButton {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  transform: translate(-780px, -150px);
  margin: 0px 0px 0px 25px;
}
#desPageButton {
  gap: 5px;
  transform: translate(-150px, -2788%);
}
#techButton {
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
  /* background: #ffffff !important; */
  border: 1px solid #d0d6f9;
}
.techButton {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  transform: translate(-191%, -82%);
}
.translateDiv {
  transform: translate(15%, -2%);
}
.tech-tittle {
  margin-left: 155px;
}
.tech-page {
  float: right;
  margin-left: 200px;
}

@media screen and (max-width: 768px) {
  section {
    width: 768px;
    height: 1024px;
    position: relative;
    background: url(../home/background-home-tablet.jpg);
  }
  .rectangle {
    display: none;
  }
  .text-div {
    position: absolute;
    width: 450px;
    height: 334px;
    left: 159px;
    top: 202px;
  }
  .explorer-div {
    position: absolute;
    width: 242px;
    height: 242px;
    left: 263px;
    top: 692px;
  }
  .navbar {
    width: 450px;
    height: 96px;
  }
  .logoImg {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 39px;
    top: 24px;
  }

  #navbarNav {
    position: absolute;
    width: 510px;
    height: 96px;
    left: 200px;
    top: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
  }
  #navbarNav ul {
    padding-left: 10px;
  }
  li {
    padding: 10px;
  }
  .section2 {
    position: relative;
    width: 768px;
    height: 1024px;
    background: url(../destination/background-destination-tablet.jpg);
  }
  #carouselExampleIndicators {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    margin: 0;
  }
  .slider-div {
    flex-direction: column;
    width: 573px;
  }
  .slider-div img {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 234px;
    top: 120px;
  }
  .slider-tittle h2 {
    position: absolute;
    width: 266px;
    height: 92px;
    left: 251.5px;
    top: 500px;
    font-size: 80px;
    line-height: 92px;
  }
  .marginleft {
    margin-left: 0;
  }
  .slider-tittle p {
    position: absolute;
    width: 573px;
    left: 97px;
    top: 560px;
    text-align: justify;
  }
  .rectangle2 {
    position: absolute;
    width: 573px;
    left: 97px;
    top: 745px;
  }
  .down-text {
    position: absolute;
    align-items: center;
    width: 573px;
    height: 90px;
    left: 200px;
    top: 730px;
  }
  #desPageButton {
    width: 41px;
    height: 3px;
    transform: translate(-20px, -295px);
    gap: 20px;
  }

  .section3 {
    background: none;
  }
  .section3 {
    position: relative;
    width: 768px;
    height: 1024px;
    background: url(../crew/background-crew-tablet.jpg);
    overflow: hidden;
  }

  .section3 .slider-div {
    height: 920px;
  }

  .section3 .slider-tittle {
    position: absolute;
    width: 458px;
    height: 200px;
    left: 140px;
    top: 100px;
  }

  .section3 .slider-tittle h3 {
    font-size: 20px;
    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .section3 .slider-tittle h2 {
    width: 457px;
    height: 46px;
    font-size: 25px;
    position: absolute;
    left: 0.11%;
    right: 0.11%;
    top: calc(50% - 46px / 2 - 75px);
  }

  .section3 .slider-tittle p {
    width: 458px;
    height: 84px;
    left: 0%;
    right: 0%;
    top: calc(50% - 84px / 2 + -15px);
  }
  .section3 .slider-img {
    position: absolute;
    width: 500px;
    height: 600px;
  }
  .section3 .crewImg {
    position: absolute;
    width: 456.37px;
    height: 520px;
    top: 68%;
    left: 17%;
  }

  .section4 {
    background: none;
  }
  .section4 {
    position: relative;
    width: 768px;
    height: 1024px;
    background: url(../destination/background-destination-tablet.jpg);
    overflow: hidden;
  }
  .tech-tittle {
    margin: 0;
  }
  .tech-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech-img {
    position: absolute;
    width: 768px;
    height: 310px;
    left: 0px;
    top: 220px;
  }
  #crewPageButton {
    transform: translateY(-1100%);
  }
  .section4 {
    position: relative;
    width: 768px;
    height: 1024px;
    background: url(../technology/background-technology-tablet.jpg);
  }
  .translateDiv {
    width: 100%;
    transform: translate(0%, 15%);
  }

  .techButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    transform: translate(-10%, -240%);
  }
  .tech-img {
    position: absolute;
    width: 768px !important;
    top: 20px !important;
    left: 0 !important;
    float: none;
    margin: 0;
  }
  .section4 .slider-titte-h2 {
    position: absolute;
    width: 474px !important;
    height: 46px !important;
    left: 85px;
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  section {
    width: 375px;
    height: 667px;
    background: url(../home/background-home-mobile.jpg);
  }
  nav {
    height: 45px !important;
    width: 350px !important;
    left: 2px !important;
    top: 2px !important;
  }
  nav .logoImg {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 18px !important;
    top: 12px !important;
  }
  .navbar-toggler {
    width: 30px;
    height: 30px;
    /* background-color: #f3f3f5; */
    color: #f3f3f5 !important;
    font-size: 30px;
  }
  section .text-div {
    position: absolute;
    width: 327px !important;
    height: 276px !important;
    left: 24px !important;
    top: 112px !important;
  }
  section .text-div h1 {
    font-size: 80px;
    line-height: 100px;
    text-align: center;
  }
  section .text-div p {
    height: 125px;
    width: 327px;
    font-size: 15px;
    line-height: 25px;
  }
  section .explorer-div {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 113px;
    top: 469px;
  }
  section .inside-div p {
    position: absolute;
    width: 93px;
    height: 23px;
    left: 12.67%;
    right: 18.33%;
    top: calc(50% - 23px / 2 + 0.5px);

    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.25px;
  }
  .section2 {
    width: 375px;
    height: 850px;
  }
  .section2 .slider-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section2 .slider-img img {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 103px;
    top: 139px;
  }
  .section2 .slider-tittle h2 {
    position: absolute;
    width: 153px;
    height: 64px;
    left: 111.5px;
    top: 383px;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
  }
  .section2 .slider-tittle p {
    position: absolute;
    width: 327px;
    height: 100px;
    left: 24px;
    top: 448px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #d0d6f9;
  }

  .rectangle2 {
    position: absolute;
    width: 327px;
    height: 1px;
    left: 24px;
    top: 650px;

    background: #383b4b;
  }
  .section2 .down-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 216px;
    height: 61px;
    left: 68px;
    top: 645px;
  }
  .section2 .down-text .upper-span {
    position: absolute;
    width: 216px;
    height: 61px;
    left: 70px;
    /* top: 613px; */
  }
  .section2 .down-text .p-style {
    position: absolute;
    width: 216px;
    height: 61px;
    left: 31px;
    top: 80px;
  }
  #desPageButton {
    width: 41px;
    height: 3px;
    transform: translate(4px, -295px);
  }
  .section3 {
    position: relative;
    width: 375px;
    height: 710px;
    background: url(../crew/background-crew-mobile.jpg);
    overflow-y: hidden;
  }
  .section3 .slider-div {
    display: flex;
    flex-direction: column-reverse;
  }
  .section3 .slider-img {
    /* display: flex;
    flex-direction: column-reverse; */
    position: absolute;
    /* width: 327px;
    height: 223px; */
    left: 24px;
    top: 0px;
  }
  .section3 .crewImg {
    width: 50%;
    height: 50%;
    left: 25px;
    top: 45px;
  }
  .border-div {
    position: absolute;
    width: 327px;
    border-bottom: 1px solid#d0d6f9;
    opacity: 0.17;
    left: -10px;
    top: 345px;
  }
  .section3 .slider-tittle {
    /* display: none; */
    position: absolute;
    width: 327px;
    height: 170px;
    left: 5px;
    top: 385px;
  }
  .section3 .slider-tittle h3 {
    position: absolute;
    height: 18px;
    left: 33.64%;

    font-size: 16px;
    line-height: 18px;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .section3 .slider-tittle h2 {
    position: absolute;
    height: 28px;

    left: 15%;
    right: 0%;
    top: calc(50% - 28px / 2 + -43px);

    font-size: 24px;
    line-height: 28px;

    color: #ffffff;
  }
  .section3 .slider-tittle p {
    position: absolute;
height: 150px;
width: 350px;
    font-family: "Barlow";
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    padding: 24px;
    top: calc(50% - 84px / 2 + -40px);
  }
  .section3 #crewPageButton {
    width: 10px !important;
    height: 10px !important;
    transform: translateY(50%);
  }
}
